.heading {
	padding-top: 1.5rem;
	padding-bottom: 3rem;
	text-align: center;

	@mixin atDesk {
		padding-top: 2.5rem;
		padding-bottom: 5rem;		
	}

	&__left {
		text-align: left;
		padding-bottom: 1.5rem;

		@mixin atDesk {
			padding-bottom: 2.5rem;
		}
	}

/*	&__uppercase {
		font-family: 'Playfair Display';
		font-weight: 600;
		font-size: 1.5em;
		transform: scale(1);
		text-transform: uppercase;
		text-align: center;

		@mixin atDesk {
			font-size: 2.3em;
		}
	}
*/
}

h1 {
	font-family: 'Roboto Slab', serif;
	margin: 0!important;
	font-size: 1.4em;

	@mixin atDesk {
		font-size: 2em;
	}
}

h2 {
	margin: 0!important;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	font-weight: 400;

		@mixin atDesk {
		font-size: 1.5em; 
/*		letter-spacing: .03em; */
		font-weight: 500;

	}
}


h3 {
	margin: 0!important;
	font-size: .75em;
	font-family: 'Roboto Slab', serif;

	@mixin atDesk {
		font-size: 1em;
		font-weight: 500;
	}
}
